<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Sistema de Gestión de Adquisiciones</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item routerLink="/pages/adquisiciones">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <div mat-line>Adquisiciones</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/historial">
                <mat-icon mat-list-icon>list</mat-icon>
                <div mat-line>Historial</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>