

<div style="width:70%;margin:40px auto">
    <h1>Historial de Adquisiciones</h1>
    
    <!-- <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field> -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="IdAdquisicion">
            <th mat-header-cell *matHeaderCellDef> Id Adquisicion </th>
            <td mat-cell *matCellDef="let element"> {{element.idAdquisicion}} </td>
          </ng-container>

        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo === 'C' ? 'Creación' : 'Actualización'}} </td>
          </ng-container>

        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha | date  : 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="Presupuesto">
            <th mat-header-cell *matHeaderCellDef> Presupuesto </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.Presupuesto}} </td>
        </ng-container>

        <ng-container matColumnDef="Unidad">
            <th mat-header-cell *matHeaderCellDef> Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.UnidadAdministrativa}} </td>
          </ng-container>
      
          <ng-container matColumnDef="BienServicio">
            <th mat-header-cell *matHeaderCellDef> Bien o Servicio </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.BienesServicios}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.Cantidad}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ValorUnitario">
            <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.ValorUnitario}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ValorTotal">
            <th mat-header-cell *matHeaderCellDef> Valor Total </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.ValorTotal}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Proveedor">
            <th mat-header-cell *matHeaderCellDef> Proveedor </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.EntidadProveedora}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Documentacion">
            <th mat-header-cell *matHeaderCellDef> Documentación </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.Documentacion}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

