.header{
    background-color: #c0c0c0;
    padding: 20px;
    margin: 0;
    width:97.4%;
}
.alinearIzq {
    text-align: left;
}

.alinearDer {
    text-align: right;
}

.logoHeader {
    margin: 10px;
    height: 40px;
    width: auto; 
}

a{
    color: #273656;
    font-family: Montserrat;
    font-size: 1rem;
}